export CB_HOSTNAME=
export CB_FTSHOSTNAME=
export CB_USERNAME=
export CB_PASSWORD=

export CB_BUCKET=vectordemos
export CB_SCOPE=langchain
export CB_COLLECTION=webrag

export CB_SEARCHINDEX=webrag_index

export OPENAI_API_KEY=

export WEB_LOGIN_PASSWORD=

